{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
{{ form_end(form) }}
