{% extends 'base.html.twig' %}

{% block title %}Borrow Index{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-4">vous etes sur la Page d'emprunt</h1>
        <a href="{{ path('app_home') }}" class="btn btn-secondary mt-2">Retour à la page d'accueil</a>
    </div>
    <br>


    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Status</th>
                <th scope="col">Book Title</th>
                <th scope="col">User Name</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th scope="col">Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.borrowDate ? borrow.borrowDate|date('Y-m-d H:i:s') : 'N/A' }}</td>
                <td>{{ borrow.status }}</td>
                <td>{{ borrow.book.title }}</td>
                <td>{{ borrow.user.name }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td>
                        <a href="{{ path('app_borow_show', {'id': borrow.id}) }}" class="btn btn-sm btn-primary">Show</a>
                        <a href="{{ path('app_borow_edit', {'id': borrow.id}) }}" class="btn btn-sm btn-warning">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-4">
        <br>

        <a href="{{ path('app_borow_new') }}" class="btn btn-success">Nouveau prêt</a>
    </div>
</div>
{% endblock %}
